/* Banner.css */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}